@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    height: 100vh;
}

nav.menu-lateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #ff0077;
    overflow: hidden;
}

nav.menu-lateral:hover{
    width: 250px;
    transition: .2s;
}

.btn-expandir{
    width: 100%;
    padding: 10px;
}

.btn-expandir > i{
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    padding: 20px 4%;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .3s;
}

ul li.item-menu:hover{
    background-color: #ff0077;
}

ul li.item-menu a{
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    line-height: 50px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

ul li.item-menu a .icon > i:hover{
    margin-left: -10px;
}